<div class="col s12 m12">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card large">
                <div class="card-image">
                    <img src="/{{picture.activity}}.jpeg">
                    <span class="card-title">{{event.title}}</span>
                </div>
                <div class="card-content">
                    <p>
                        <b>Location:</b> {{event.address}}
                        <br>
                        <b>Location Details:</b> {{event.details}}
                    </p>
                    <p>
                        <b>Date:</b> {{event.id}} {{event.date}}
                        <br>
                        <b>Start Time:</b> {{event.start_time}}
                        <br>
                        <b>End Time:</b> {{event.end_time}}
                    </p>
                    <p>
                        <b>Description:</b> {{event.description}}
                    </p>
                    <p>
                        <b>Volunteers:</b>
                        {{#each volunteers}}
                            <li>{{this.first_name}} {{this.last_name}}: {{this.email}}</li>
                        {{/each}}
                    </p>
                    <p>
                      <br>
                        {{#if volunteer}}
                            <center><a href="/events/{{event.id}}/volunteer" class="waves-effect waves-light btn">Volunteer for this event</a></center>
                        {{else}}
                            <a href="/events/{{event.id}}/edit/" class="waves-effect waves-light btn">Edit Event</a>
                            <a href="/events/{{event.id}}/delete/" class="waves-effect waves-light btn right">Delete Event</a>
                        {{/if}}
                    </p>
                </div>
            </div>
            <center><a href="/events" class="waves-effect waves-light btn">Back to Events</a></center>
        </div>
    </div>
</div>
