<div class="col s12 m12">

  <div class="row">
    {{#if volunteer}}<a href="/events/create">
        <button type="button" name="button" class="waves-effect waves-light btn">Create an Event <i class="material-icons right">today</i></button>
      {{/if}}
    <h1 class="center">Events</h1>
      {{#each events}}
          <div class="col s12 m4">
              <div class="card small">
                  <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="/{{this.activity}}.jpeg">
                  </div>
                  <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">{{this.title}}<i class="material-icons right">more_vert</i></span>

                      <p>
                        {{#if ../volunteer}}
                          <a href="/events/{{this.id}}/volunteer">Volunteer for this event</a> |
                        {{/if}}
                        <a href="/events/{{this.id}}/">Detail</a>
                      </p>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">{{this.title}}<i class="material-icons right">close</i></span>
                      <p>
                        <b>Location:</b> {{this.address}}<br>
                        <b>Location Details:</b> {{this.details}}
                      </p>
                      <p>
                        <b>Date:</b> {{this.date}}<br>
                        <b>Start Time:</b> {{this.start_time}}<br>
                        <b>End Time:</b> {{this.end_time}}
                      </p>
                      <p>
                        <b>Description:</b> {{this.description}}<br>
                      </p>
                  </div>
              </div>
          </div>
      {{/each}}
  </div>

</div>
